## Research Questions – Part5 – Sold Price Prep
  1.	Import libraries & set directory paths
  2.	Import Portal data, check dimensions and data types
        Import: stone_signs_portal_v3.3_saleslets_lifecycle.csv
  3.	Qu.12) What effect does house price have on Stone Signs business?
        -	Create subset for sales only data where life cycle is complete (is_up=0)
        -	Import PPD: ppd_BN_PO_RH_2020-21_v1.1.csv
        -	Uppercase address field in Portal to match PPD data for later combining of dataframes
        -	Remove commas from address
        -	Split Portal address1 and address2 fields into separate columns
        -	Drop excess columns & join to main Sales dataframe.
        -	Split PPD address1 into two parts based on , delimiter & add to PPD dataframe
        -	Rename df columns to unique names across both dataframes
        -	Replace null values with placeholder, use different place holder for each df, or they will be seen as ‘a match’.
  4.	Carrying out combining, changing column names to match for key columns.
        Addr1:
        -	df_add1 = df_sales['postcode','address_1'] & df_ppd['postcode','address_1']
        Part1:
        -	df_11 = df_sales['postcode','addr_split1'] & df_ppd['postcode','house1']
        -	df_21 = df_sales['postcode','addr_split2'] & df_ppd['postcode','house1']
        -	df_31 = df_sales['postcode','addr_split3'] & df_ppd['postcode','house1']
        -	df_41 = df_sales['postcode','addr_split4'] & df_ppd['postcode','house1']
        -	df_51 = df_sales['postcode','addr_split5'] & df_ppd['postcode','house1']
        -	df_61 = df_sales['postcode','addr_split6'] & df_ppd['postcode','house1']
        Part2:
        -	df_12 = df_sales['postcode','addr_split1'] & df_ppd['postcode','house2']
        -	df_22 = df_sales['postcode','addr_split2'] & df_ppd['postcode','house2']
        -	df_32 = df_sales['postcode','addr_split3'] & df_ppd['postcode','house2']
        -	df_42 = df_sales['postcode','addr_split4'] & df_ppd['postcode','house2']
        -	df_52 = df_sales['postcode','addr_split5'] & df_ppd['postcode','house2']
        -	df_62 = df_sales['postcode','addr_split6'] & df_ppd['postcode','house2']
  5.	Drop redundant and mis-match columns from each merge group so that they can all been combined.
  6.	Repeat first combining (Addr1) owing to mismatch columns, compared to other groups.
        -	df_add1 = df_sales['postcode','address_1'] & df_ppd['postcode','address_1']
        -	Make copy of key column PPD_address1 to preserve column after combining.
  7.	Combine to product final dataframe contain Sales signage and House Price information.
  8.	Export to: stone_signs_portal_v6.1_sold_price.csv

### import libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
import os

### set directory paths

In [2]:
dataset = r'D:\My Documents\! Omnicompetent Ltd\Career Foundry - Data Analytics\Data Analytics Course\60 Advanced Analytics and Dashboard Design\Stone Signs Portal Analysis\02 Data'
dataset

'D:\\My Documents\\! Omnicompetent Ltd\\Career Foundry - Data Analytics\\Data Analytics Course\\60 Advanced Analytics and Dashboard Design\\Stone Signs Portal Analysis\\02 Data'

In [3]:
vizpath = r'D:\My Documents\! Omnicompetent Ltd\Career Foundry - Data Analytics\Data Analytics Course\60 Advanced Analytics and Dashboard Design\Stone Signs Portal Analysis\04 Analysis'
vizpath

'D:\\My Documents\\! Omnicompetent Ltd\\Career Foundry - Data Analytics\\Data Analytics Course\\60 Advanced Analytics and Dashboard Design\\Stone Signs Portal Analysis\\04 Analysis'

## Import Portal Data

In [4]:
df_lifecycle = pd.read_csv(os.path.join(dataset,'stone_signs_portal_v3.3_saleslets_lifecycle.csv'))
df_lifecycle.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,request_id,request_datetime,completed_datetime,completed_duration_days,completed_duration_hours,agent_name,agent_code,branch_name,branch_code,sign_category,...,year,work_category,lead_time,request_date,completed_date,invoice_date,paid_date,requests_per_day,completed_per_day,cycle_count
0,9215,2020-10-13 13:36:00,2020-10-18 08:52:00,4.80,115.3,Oakley Property,OAK,OakleyProperty @BrightonLets,701,Letting,...,2020,Letting,Within Week,2020-10-13,2020-10-18,2020-10-29,2020-12-10,83,26,1
1,8199,2020-11-26 20:33:00,2020-11-28 11:48:00,1.64,39.3,Lextons,LEX,Lextons @Hove,600,Sales,...,2020,Sales,Standard 48hr,2020-11-26,2020-11-28,2020-11-29,2021-02-05,68,90,2
2,8199,2020-09-18 18:44:00,2020-09-19 14:15:00,0.81,19.5,Lextons,LEX,Lextons @Hove,600,Sales,...,2020,Sales,Standard 48hr,2020-09-18,2020-09-19,2020-09-29,2020-12-10,78,66,2
3,9209,2020-10-13 13:29:00,2020-10-18 08:52:00,4.81,115.4,Oakley Property,OAK,OakleyProperty @BrightonLets,701,Letting,...,2020,Letting,Within Week,2020-10-13,2020-10-18,2020-10-29,2020-12-10,83,26,2
4,9209,2021-03-09 11:05:00,2021-03-11 14:05:00,2.13,51.0,Oakley Property,OAK,OakleyProperty @BrightonLets,701,Letting,...,2021,Letting,Within Week,2021-03-09,2021-03-11,2021-03-31,2021-04-26,73,122,2

### check dimensions & data types

In [5]:
df_lifecycle.shape

(26920, 48)

In [6]:
df_lifecycle.dtypes

request_id                    int64
request_datetime             object
completed_datetime           object
completed_duration_days     float64
completed_duration_hours    float64
agent_name                   object
agent_code                   object
branch_name                  object
branch_code                   int64
sign_category                object
sign_action                  object
board_type                  float64
sign_type                    object
address_1                    object
address_2                    object
address_3                    object
town                         object
postcode                     object
latitude                    float64
longitude                   float64
quantity                      int64
additional_info              object
request_status               object
payment_status               object
net_charge                  float64
vat                         float64
gross_charge                float64
invoice_datetime             object
paid_datetime                object
payment_duration_days       float64
harvesine_distance_miles    float64
latitude_group              float64
longitude_group             float64
zone                         object
zone_area                    object
is_up                         int64
month_no                      int64
month                        object
year                          int64
work_category                object
lead_time                    object
request_date                 object
completed_date               object
invoice_date                 object
paid_date                    object
requests_per_day              int64
completed_per_day             int64
cycle_count                   int64
dtype: object

## Qu.12) What effect does house price have on Stone Sign business?

### create subset for sales ecords with completed cycles

In [7]:
df_sales = df_lifecycle.loc[(df_lifecycle['sign_category']=='Sales') & (df_lifecycle['is_up']==0)]
df_sales.shape

(17243, 49)

### import PPD data

In [8]:
df_ppd = pd.read_csv(os.path.join(dataset,'ppd_BN_PO_RH_2020-21_v1.1.csv'))
df_ppd.head()

,unique_id,sale_price,transfer_date,postcode,property_type,new_property,free_lease,address_1,address_2,road_name,locality,town_city,district,county
0,{B5755FFD-ED91-7D01-E053-6C04A8C036B6},312500,2020-10-07 00:00,BN7 1HD,T,N,F,51,NaN,WARREN DRIVE,NaN,LEWES,LEWES,EAST SUSSEX
1,{B5755FFD-ED92-7D01-E053-6C04A8C036B6},420000,2020-08-25 00:00,BN26 5UP,S,N,F,LABURNUM COTTAGE,NaN,SLOE LANE,ALFRISTON,POLEGATE,WEALDEN,EAST SUSSEX
2,{B5755FFD-ED93-7D01-E053-6C04A8C036B6},710000,2020-10-02 00:00,BN3 4PB,S,N,F,6,NaN,BRITTANY ROAD,NaN,HOVE,BRIGHTON AND HOVE,BRIGHTON AND HOVE
3,{B5755FFD-ED94-7D01-E053-6C04A8C036B6},485000,2020-09-29 00:00,BN2 9UW,T,N,F,8,NaN,TORONTO TERRACE,NaN,BRIGHTON,BRIGHTON AND HOVE,BRIGHTON AND HOVE
4,{B5755FFD-ED95-7D01-E053-6C04A8C036B6},320000,2020-09-25 00:00,BN10 7AY,S,N,F,19,NaN,HIGHVIEW ROAD,TELSCOMBE CLIFFS,PEACEHAVEN,LEWES,EAST SUSSEX

### check dimensions and columns

In [9]:
df_ppd.shape

(45317, 14)

In [10]:
df_ppd.dtypes

unique_id        object
sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
free_lease       object
address_1        object
address_2        object
road_name        object
locality         object
town_city        object
district         object
county           object
dtype: object

### drop excess columns from PPD

In [11]:
df_ppd = df_ppd.drop(columns=['unique_id','free_lease'])

### upper case Portal address columns to match PPD dataset
    Also remove commas in Portal Sales data.
    Split Portal address lines 1 & 2 to extract house number to match PPD

In [12]:
df_sales['address_1'] = df_sales['address_1'].str.upper()
df_sales['address_2'] = df_sales['address_2'].str.upper()
df_sales['address_3'] = df_sales['address_3'].str.upper()

<ipython-input-12-c55e49cd0a13>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales['address_1'] = df_sales['address_1'].str.upper()
<ipython-input-12-c55e49cd0a13>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales['address_2'] = df_sales['address_2'].str.upper()
<ipython-input-12-c55e49cd0a13>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales['address_3'] = df_sales['address_3'].str.upper()

In [13]:
df_sales[['address_1','address_2','address_3']].head(5)

                      address_1         address_2 address_3
0                 1 DAISY COURT  65 MIDDLE STREET       NaN
5  FLAT 1  12 MARLBOROUGH PLACE          BRIGHTON       NaN
6  FLAT 1  12 MARLBOROUGH PLACE          BRIGHTON       NaN
7                 OAKLEY OFFICE               NaN       NaN
8                 OAKLEY OFFICE               NaN       NaN

In [14]:
df_sales[['address_1','address_2','address_3']].head(5)

                      address_1         address_2 address_3
0                 1 DAISY COURT  65 MIDDLE STREET       NaN
5  FLAT 1  12 MARLBOROUGH PLACE          BRIGHTON       NaN
6  FLAT 1  12 MARLBOROUGH PLACE          BRIGHTON       NaN
7                 OAKLEY OFFICE               NaN       NaN
8                 OAKLEY OFFICE               NaN       NaN

### replace commas with space

In [15]:
df_sales['address_1'] = df_sales['address_1'].str.replace(',','')
df_sales['address_2'] = df_sales['address_2'].str.replace(',','')
df_sales['address_3'] = df_sales['address_3'].str.replace(',','')

<ipython-input-15-1be52ba6d3c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales['address_1'] = df_sales['address_1'].str.replace(',','')
<ipython-input-15-1be52ba6d3c8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales['address_2'] = df_sales['address_2'].str.replace(',','')
<ipython-input-15-1be52ba6d3c8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales['address_3'] = df_sales['address_3'].str.replace(',','')

## split address_1

In [16]:
df_addr1_split = df_sales['address_1'].apply(lambda x: pd.Series(x.split(' ')))
df_addr1_split.head()

        0       1      2    3            4      5    6    7    8
0       1   DAISY  COURT  NaN          NaN    NaN  NaN  NaN  NaN
5    FLAT       1          12  MARLBOROUGH  PLACE  NaN  NaN  NaN
6    FLAT       1          12  MARLBOROUGH  PLACE  NaN  NaN  NaN
7  OAKLEY  OFFICE    NaN  NaN          NaN    NaN  NaN  NaN  NaN
8  OAKLEY  OFFICE    NaN  NaN          NaN    NaN  NaN  NaN  NaN

### check population of df_addr1_split

In [17]:
df_addr1_split.shape

(17243, 9)

In [18]:
df_addr1_split.isnull().sum()

0        0
1      875
2     2094
3    14868
4    16758
5    17146
6    17232
7    17233
8    17241
dtype: int64

#### based on the above null counts, will only keep columns 0 ,1, 2 & 3

### drop excess columns of address1 split

In [19]:
df_addr1_split = df_addr1_split.drop(columns=[4,5,6,7,8])
df_addr1_split.head()

        0       1      2    3
0       1   DAISY  COURT  NaN
5    FLAT       1          12
6    FLAT       1          12
7  OAKLEY  OFFICE    NaN  NaN
8  OAKLEY  OFFICE    NaN  NaN

## Repeat address split for address_2
    issue with code not working on null values in address_2 which were not  an for the mandatory address_1 field.

### replace null with "none" for address_2

In [20]:
df_sales['address_2'] = df_sales['address_2'].fillna('none')

<ipython-input-20-3e790358efe6>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sales['address_2'] = df_sales['address_2'].fillna('none')

In [21]:
df_sales['address_2'].isnull().sum()

0

In [22]:
df_sales['address_2'].head(30)

0     65 MIDDLE STREET
5             BRIGHTON
6             BRIGHTON
7                 none
8                 none
11                none
12                none
16                none
20                none
21                none
23                none
24                none
30            BRIGHTON
33                none
34                none
35                none
36                none
37                none
38                none
39                none
40                none
41                none
42                none
43            BRIGHTON
44            BRIGHTON
54     BLACKMAN STREET
55     BLACKMAN STREET
61                none
62                none
67                none
Name: address_2, dtype: object

### now column can be split on space charcater

In [23]:
df_addr2_split = df_sales['address_2'].apply(lambda x: pd.Series(x.split(' ')))
df_addr2_split.head()

          0       1       2    3
0        65  MIDDLE  STREET  NaN
5  BRIGHTON     NaN     NaN  NaN
6  BRIGHTON     NaN     NaN  NaN
7      none     NaN     NaN  NaN
8      none     NaN     NaN  NaN

### check population of df_addr2_split

In [24]:
df_addr1_split.shape

(17243, 4)

In [25]:
df_addr2_split.isnull().sum()

0        0
1    13862
2    16305
3    17125
dtype: int64

### drop excess columns 2 & 3

In [26]:
df_addr2_split = df_addr2_split.drop(columns=[2,3])
df_addr2_split.head()

          0       1
0        65  MIDDLE
5  BRIGHTON     NaN
6  BRIGHTON     NaN
7      none     NaN
8      none     NaN

## Add address split column to df_sales dataframe

In [27]:
df_sales[['addr_split1','addr_split2','addr_split3','addr_split4']] = df_addr1_split

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [28]:
df_sales[['addr_split5','addr_split6']] = df_addr2_split

In [29]:
df_sales.dtypes

request_id                    int64
request_datetime             object
completed_datetime           object
completed_duration_days     float64
completed_duration_hours    float64
agent_name                   object
agent_code                   object
branch_name                  object
branch_code                   int64
sign_category                object
sign_action                  object
board_type                  float64
sign_type                    object
address_1                    object
address_2                    object
address_3                    object
town                         object
postcode                     object
latitude                    float64
longitude                   float64
quantity                      int64
additional_info              object
request_status               object
payment_status               object
net_charge                  float64
vat                         float64
gross_charge                float64
invoice_datetime             object
paid_datetime                object
payment_duration_days       float64
harvesine_distance_miles    float64
latitude_group              float64
longitude_group             float64
zone                          int64
zone_area                    object
is_up                         int64
month_no                      int64
month                        object
year                          int64
work_category                object
lead_time                    object
request_date                 object
completed_date               object
invoice_date                 object
paid_date                    object
requests_per_day              int64
completed_per_day             int64
cycle_count                   int64
cycle_category               object
addr_split1                  object
addr_split2                  object
addr_split3                  object
addr_split4                  object
addr_split5                  object
addr_split6                  object
dtype: object

## export to CSV for review

In [30]:
df_sales.to_csv(os.path.join(dataset,'stone_signs_portal_v6.0_sales_address_split.csv'), index=False)

In [102]:
df_sales.shape

(17243, 55)

## The dataframes are to be matched on postcode and house number.
The PPD data is government data and so has a more predictable format.  This is why the Portal data address lines have been split to extract the house number.  It could be in any of the six addr_split columns.

### PPD address_1 contains some examples of the house name and number in the same cell, e.g. "NICHE PLACE, 6".  
    Split at comma

In [31]:
df_house_no = df_ppd['address_1'].apply(lambda x: pd.Series(x.split(', ')))
df_house_no.head()

                  0    1
0                51  NaN
1  LABURNUM COTTAGE  NaN
2                 6  NaN
3                 8  NaN
4                19  NaN

In [32]:
df_house_no.to_clipboard(())

### check df_house_no for population

In [33]:
df_house_no.shape

(45317, 2)

In [34]:
df_house_no.isnull().sum()

0        0
1    43217
dtype: int64

### add to main PPD dataframe as new columns

In [35]:
df_ppd[['house1','house2']] = df_house_no
df_ppd.head()

,sale_price,transfer_date,postcode,property_type,new_property,address_1,address_2,road_name,locality,town_city,district,county,house1,house2
0,312500,2020-10-07 00:00,BN7 1HD,T,N,51,NaN,WARREN DRIVE,NaN,LEWES,LEWES,EAST SUSSEX,51,NaN
1,420000,2020-08-25 00:00,BN26 5UP,S,N,LABURNUM COTTAGE,NaN,SLOE LANE,ALFRISTON,POLEGATE,WEALDEN,EAST SUSSEX,LABURNUM COTTAGE,NaN
2,710000,2020-10-02 00:00,BN3 4PB,S,N,6,NaN,BRITTANY ROAD,NaN,HOVE,BRIGHTON AND HOVE,BRIGHTON AND HOVE,6,NaN
3,485000,2020-09-29 00:00,BN2 9UW,T,N,8,NaN,TORONTO TERRACE,NaN,BRIGHTON,BRIGHTON AND HOVE,BRIGHTON AND HOVE,8,NaN
4,320000,2020-09-25 00:00,BN10 7AY,S,N,19,NaN,HIGHVIEW ROAD,TELSCOMBE CLIFFS,PEACEHAVEN,LEWES,EAST SUSSEX,19,NaN

### replace null values in house_2 with different placemarker from Portal nulls
    so that they won't be seen as a match.

In [36]:
df_ppd['house2'] = df_ppd['house2'].fillna("empty")

In [37]:
df_ppd[['house1','house2']].isnull().sum()

house1    0
house2    0
dtype: int64

## Combine dataframes into seperate dataframe subsets as follows:

    df_add1 = df_sales['postcode','address_1'] & df_ppd['postcode','address_1']
    
    df_11 = df_sales['postcode','addr_split1'] & df_ppd['postcode','house1']
    df_21 = df_sales['postcode','addr_split2'] & df_ppd['postcode','house1']
    df_31 = df_sales['postcode','addr_split3'] & df_ppd['postcode','house1']
    df_41 = df_sales['postcode','addr_split4'] & df_ppd['postcode','house1']
    df_51 = df_sales['postcode','addr_split5'] & df_ppd['postcode','house1']
    df_61 = df_sales['postcode','addr_split6'] & df_ppd['postcode','house1']
    
    df_12 = df_sales['postcode','addr_split1'] & df_ppd['postcode','house2']
    df_22 = df_sales['postcode','addr_split2'] & df_ppd['postcode','house2']
    df_32 = df_sales['postcode','addr_split3'] & df_ppd['postcode','house2']
    df_42 = df_sales['postcode','addr_split4'] & df_ppd['postcode','house2']
    df_52 = df_sales['postcode','addr_split5'] & df_ppd['postcode','house2']
    df_62 = df_sales['postcode','addr_split6'] & df_ppd['postcode','house2']

### rename columns to unique name across both dataframes, except for postcode

In [38]:
df_sales.dtypes

request_id                    int64
request_datetime             object
completed_datetime           object
completed_duration_days     float64
completed_duration_hours    float64
agent_name                   object
agent_code                   object
branch_name                  object
branch_code                   int64
sign_category                object
sign_action                  object
board_type                  float64
sign_type                    object
address_1                    object
address_2                    object
address_3                    object
town                         object
postcode                     object
latitude                    float64
longitude                   float64
quantity                      int64
additional_info              object
request_status               object
payment_status               object
net_charge                  float64
vat                         float64
gross_charge                float64
invoice_datetime             object
paid_datetime                object
payment_duration_days       float64
harvesine_distance_miles    float64
latitude_group              float64
longitude_group             float64
zone                          int64
zone_area                    object
is_up                         int64
month_no                      int64
month                        object
year                          int64
work_category                object
lead_time                    object
request_date                 object
completed_date               object
invoice_date                 object
paid_date                    object
requests_per_day              int64
completed_per_day             int64
cycle_count                   int64
cycle_category               object
addr_split1                  object
addr_split2                  object
addr_split3                  object
addr_split4                  object
addr_split5                  object
addr_split6                  object
dtype: object

In [39]:
df_sales = df_sales.rename(columns = {'address_1':'portal_addr1'})
df_sales = df_sales.rename(columns = {'address_2':'portal_addr2'})
df_sales = df_sales.rename(columns = {'address_3':'portal_addr3'})

In [40]:
df_sales.dtypes

request_id                    int64
request_datetime             object
completed_datetime           object
completed_duration_days     float64
completed_duration_hours    float64
agent_name                   object
agent_code                   object
branch_name                  object
branch_code                   int64
sign_category                object
sign_action                  object
board_type                  float64
sign_type                    object
portal_addr1                 object
portal_addr2                 object
portal_addr3                 object
town                         object
postcode                     object
latitude                    float64
longitude                   float64
quantity                      int64
additional_info              object
request_status               object
payment_status               object
net_charge                  float64
vat                         float64
gross_charge                float64
invoice_datetime             object
paid_datetime                object
payment_duration_days       float64
harvesine_distance_miles    float64
latitude_group              float64
longitude_group             float64
zone                          int64
zone_area                    object
is_up                         int64
month_no                      int64
month                        object
year                          int64
work_category                object
lead_time                    object
request_date                 object
completed_date               object
invoice_date                 object
paid_date                    object
requests_per_day              int64
completed_per_day             int64
cycle_count                   int64
cycle_category               object
addr_split1                  object
addr_split2                  object
addr_split3                  object
addr_split4                  object
addr_split5                  object
addr_split6                  object
dtype: object

In [41]:
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
address_1        object
address_2        object
road_name        object
locality         object
town_city        object
district         object
county           object
house1           object
house2           object
dtype: object

In [42]:
df_ppd = df_ppd.rename(columns = {'address_1':'ppd_addr1'})
df_ppd = df_ppd.rename(columns = {'address_2':'ppd_addr2'})

In [43]:
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
house1           object
house2           object
dtype: object

### export PPD to CSV

In [44]:
df_ppd.to_csv(os.path.join(dataset,'ppd_2020-21_v2.0_addr_split.csv'), index=False)

In [45]:
df_ppd.shape

(45317, 14)

### copy column ppd_addr1 to preserve the column structure for each type of combine
    1) copy ppd_addr1 column to a series
    2) add series as new column in df_ppd
        column name to match df_sales['portal_addr1'] ready for combining

In [46]:
ppd_addr1 = df_ppd['ppd_addr1']
ppd_addr1

0                      51
1        LABURNUM COTTAGE
2                       6
3                       8
4                      19
               ...
45312                  67
45313                  64
45314                  11
45315                  71
45316                  82
Name: ppd_addr1, Length: 45317, dtype: object

In [47]:
df_ppd['portal_addr1'] = ppd_addr1
df_ppd.head()

,sale_price,transfer_date,postcode,property_type,new_property,ppd_addr1,ppd_addr2,road_name,locality,town_city,district,county,house1,house2,portal_addr1
0,312500,2020-10-07 00:00,BN7 1HD,T,N,51,NaN,WARREN DRIVE,NaN,LEWES,LEWES,EAST SUSSEX,51,empty,51
1,420000,2020-08-25 00:00,BN26 5UP,S,N,LABURNUM COTTAGE,NaN,SLOE LANE,ALFRISTON,POLEGATE,WEALDEN,EAST SUSSEX,LABURNUM COTTAGE,empty,LABURNUM COTTAGE
2,710000,2020-10-02 00:00,BN3 4PB,S,N,6,NaN,BRITTANY ROAD,NaN,HOVE,BRIGHTON AND HOVE,BRIGHTON AND HOVE,6,empty,6
3,485000,2020-09-29 00:00,BN2 9UW,T,N,8,NaN,TORONTO TERRACE,NaN,BRIGHTON,BRIGHTON AND HOVE,BRIGHTON AND HOVE,8,empty,8
4,320000,2020-09-25 00:00,BN10 7AY,S,N,19,NaN,HIGHVIEW ROAD,TELSCOMBE CLIFFS,PEACEHAVEN,LEWES,EAST SUSSEX,19,empty,19

## Combine Dataframes

### check for null values in df_sales[addr_split] columns 1 to 6 replace with "none"

In [48]:
df_sales[['addr_split1','addr_split2','addr_split3','addr_split4','addr_split5','addr_split6']].isnull().sum()

addr_split1        0
addr_split2      875
addr_split3     2094
addr_split4    14868
addr_split5        0
addr_split6    13862
dtype: int64

In [49]:
df_sales['addr_split2'] = df_sales['addr_split2'].fillna("none")
df_sales['addr_split3'] = df_sales['addr_split3'].fillna("none")
df_sales['addr_split4'] = df_sales['addr_split4'].fillna("none")
df_sales['addr_split6'] = df_sales['addr_split6'].fillna("none")

In [50]:
df_sales[['addr_split1','addr_split2','addr_split3','addr_split4','addr_split5','addr_split6']].isnull().sum()

addr_split1    0
addr_split2    0
addr_split3    0
addr_split4    0
addr_split5    0
addr_split6    0
dtype: int64

### check for any values in df_ppd[house] columns 1&2

In [51]:
df_ppd[['house1','house2']].isnull().sum()

house1    0
house2    0
dtype: int64

### df_add1 = df_sales['postcode','address_1'] & df_ppd['postcode','address_1']
    key columns already set: postcode & portal_addr1

In [52]:
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
house1           object
house2           object
portal_addr1     object
dtype: object

In [53]:
df_sales.dtypes

request_id                    int64
request_datetime             object
completed_datetime           object
completed_duration_days     float64
completed_duration_hours    float64
agent_name                   object
agent_code                   object
branch_name                  object
branch_code                   int64
sign_category                object
sign_action                  object
board_type                  float64
sign_type                    object
portal_addr1                 object
portal_addr2                 object
portal_addr3                 object
town                         object
postcode                     object
latitude                    float64
longitude                   float64
quantity                      int64
additional_info              object
request_status               object
payment_status               object
net_charge                  float64
vat                         float64
gross_charge                float64
invoice_datetime             object
paid_datetime                object
payment_duration_days       float64
harvesine_distance_miles    float64
latitude_group              float64
longitude_group             float64
zone                          int64
zone_area                    object
is_up                         int64
month_no                      int64
month                        object
year                          int64
work_category                object
lead_time                    object
request_date                 object
completed_date               object
invoice_date                 object
paid_date                    object
requests_per_day              int64
completed_per_day             int64
cycle_count                   int64
cycle_category               object
addr_split1                  object
addr_split2                  object
addr_split3                  object
addr_split4                  object
addr_split5                  object
addr_split6                  object
dtype: object

In [54]:
df_add1 = df_sales.merge(df_ppd, on=['postcode','portal_addr1'])
df_add1.shape

(713, 68)

### export for review

In [55]:
df_add1.to_csv(os.path.join(dataset,'x_combine_add1.csv'), index=False)

### df_11 = df_sales['postcode','addr_split1'] & df_ppd['postcode','house1']
    set key column names

In [56]:
df_ppd = df_ppd.rename(columns = {'house1':'addr_split1'})

In [57]:
df_11 = df_sales.merge(df_ppd, on=['postcode','addr_split1'])
df_11.shape

(7933, 68)

### df_21 = df_sales['postcode','addr_split2'] & df_ppd['postcode','house1']
    rename key column

In [58]:
df_ppd = df_ppd.rename(columns = {'addr_split1':'addr_split2'})
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
addr_split2      object
house2           object
portal_addr1     object
dtype: object

In [59]:
df_21 = df_sales.merge(df_ppd, on=['postcode','addr_split2'])
df_21.shape

(169, 68)

### df_31 = df_sales['postcode','addr_split3'] & df_ppd['postcode','house1']
    rename key column

In [60]:
df_ppd = df_ppd.rename(columns = {'addr_split2':'addr_split3'})
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
addr_split3      object
house2           object
portal_addr1     object
dtype: object

In [61]:
df_31 = df_sales.merge(df_ppd, on=['postcode','addr_split3'])
df_31.shape

(173, 68)

### df_41 = df_sales['postcode','addr_split4'] & df_ppd['postcode','house1']

In [62]:
df_ppd = df_ppd.rename(columns = {'addr_split3':'addr_split4'})
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
addr_split4      object
house2           object
portal_addr1     object
dtype: object

In [63]:
df_41 = df_sales.merge(df_ppd, on=['postcode','addr_split4'])
df_41.shape

(17, 68)

### df_51 = df_sales['postcode','addr_split5'] & df_ppd['postcode','house1']
    set key columns

In [64]:
df_ppd = df_ppd.rename(columns = {'addr_split4':'addr_split5'})
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
addr_split5      object
house2           object
portal_addr1     object
dtype: object

In [65]:
df_51 = df_sales.merge(df_ppd, on=['postcode','addr_split5'])
df_51.shape

(148, 68)

### df_61 = df_sales['postcode','addr_split6'] & df_ppd['postcode','house1']
    set key columns

In [66]:
df_ppd = df_ppd.rename(columns = {'addr_split5':'addr_split6'})
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
addr_split6      object
house2           object
portal_addr1     object
dtype: object

In [67]:
df_61 = df_sales.merge(df_ppd, on=['postcode','addr_split6'])
df_61.shape

(0, 68)

## combine merged subsets (so far) as they all have the same columns.
    and export for review

In [68]:
df_part1 = df_11.append([df_21, df_31, df_41, df_51, df_61])
df_part1.shape

(8440, 68)

In [69]:
df_part1.to_csv(os.path.join(dataset,'x_combining_part1.csv'), index=False)

### return column names to original

In [70]:
df_ppd = df_ppd.rename(columns = {'addr_split6':'house1'})
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
house1           object
house2           object
portal_addr1     object
dtype: object

## Continue with second part of house split.

### df_12 = df_sales['postcode','addr_split1'] & df_ppd['postcode','house2']
    set key columns

In [71]:
df_ppd = df_ppd.rename(columns = {'house2':'addr_split1'})
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
house1           object
addr_split1      object
portal_addr1     object
dtype: object

In [72]:
df_12 = df_sales.merge(df_ppd, on=['postcode','addr_split1'])
df_12.shape

(45, 68)

### df_22 = df_sales['postcode','addr_split2'] & df_ppd['postcode','house2']
    set key columns

In [73]:
df_ppd = df_ppd.rename(columns = {'addr_split1':'addr_split2'})
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
house1           object
addr_split2      object
portal_addr1     object
dtype: object

In [74]:
df_22 = df_sales.merge(df_ppd, on=['postcode','addr_split2'])
df_22.shape

(3, 68)

### df_32 = df_sales['postcode','addr_split3'] & df_ppd['postcode','house2']
    set key columns

In [75]:
df_ppd = df_ppd.rename(columns = {'addr_split2':'addr_split3'})
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
house1           object
addr_split3      object
portal_addr1     object
dtype: object

In [76]:
df_32 = df_sales.merge(df_ppd, on=['postcode','addr_split3'])
df_32.shape

(7, 68)

### df_42 = df_sales['postcode','addr_split4'] & df_ppd['postcode','house2']
    set key columns

In [77]:
df_ppd = df_ppd.rename(columns = {'addr_split3':'addr_split4'})
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
house1           object
addr_split4      object
portal_addr1     object
dtype: object

In [78]:
df_42 = df_sales.merge(df_ppd, on=['postcode','addr_split4'])
df_42.shape

(0, 68)

### df_52 = df_sales['postcode','addr_split5'] & df_ppd['postcode','house2']
    set key columns

In [79]:
df_ppd = df_ppd.rename(columns = {'addr_split4':'addr_split5'})
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
house1           object
addr_split5      object
portal_addr1     object
dtype: object

In [80]:
df_52 = df_sales.merge(df_ppd, on=['postcode','addr_split5'])
df_52.shape

(104, 68)

### df_62 = df_sales['postcode','addr_split6'] & df_ppd['postcode','house2']
    set key columns

In [81]:
df_ppd = df_ppd.rename(columns = {'addr_split5':'addr_split6'})
df_ppd.dtypes

sale_price        int64
transfer_date    object
postcode         object
property_type    object
new_property     object
ppd_addr1        object
ppd_addr2        object
road_name        object
locality         object
town_city        object
district         object
county           object
house1           object
addr_split6      object
portal_addr1     object
dtype: object

In [82]:
df_62 = df_sales.merge(df_ppd, on=['postcode','addr_split6'])
df_62.shape

(0, 68)

### combine second set of subsets and export for review

In [83]:
df_part2 = df_12.append([df_22, df_32, df_42, df_52, df_62])
df_part2.shape

(159, 68)

In [84]:
df_part2.to_csv(os.path.join(dataset,'x_combining_part2.csv'), index=False)

## Drop redundant and mismatched columns so all three groups can be combined into new dataframe, copy to clipboard for review

In [85]:
column_add1 = df_add1.dtypes
column_add1.to_clipboard()

In [86]:
column_part1 = df_part1.dtypes
column_part1.to_clipboard()

In [87]:
column_part2 = df_part2.dtypes
column_part2.to_clipboard()

In [88]:
df_add1 = df_add1.drop(columns=['addr_split1','addr_split2','addr_split3','addr_split4','addr_split5','addr_split6'])
df_add1 = df_add1.drop(columns=['house1','house2'])
df_add1.dtypes

request_id                    int64
request_datetime             object
completed_datetime           object
completed_duration_days     float64
completed_duration_hours    float64
agent_name                   object
agent_code                   object
branch_name                  object
branch_code                   int64
sign_category                object
sign_action                  object
board_type                  float64
sign_type                    object
portal_addr1                 object
portal_addr2                 object
portal_addr3                 object
town                         object
postcode                     object
latitude                    float64
longitude                   float64
quantity                      int64
additional_info              object
request_status               object
payment_status               object
net_charge                  float64
vat                         float64
gross_charge                float64
invoice_datetime             object
paid_datetime                object
payment_duration_days       float64
harvesine_distance_miles    float64
latitude_group              float64
longitude_group             float64
zone                          int64
zone_area                    object
is_up                         int64
month_no                      int64
month                        object
year                          int64
work_category                object
lead_time                    object
request_date                 object
completed_date               object
invoice_date                 object
paid_date                    object
requests_per_day              int64
completed_per_day             int64
cycle_count                   int64
cycle_category               object
sale_price                    int64
transfer_date                object
property_type                object
new_property                 object
ppd_addr1                    object
ppd_addr2                    object
road_name                    object
locality                     object
town_city                    object
district                     object
county                       object
dtype: object

In [93]:
df_part1 = df_part1.drop(columns=['addr_split1','addr_split2','addr_split3','addr_split4','addr_split5','addr_split6'])
df_part1 = df_part1.drop(columns=['house2','portal_addr1_y'])
df_part1.dtypes

request_id                    int64
request_datetime             object
completed_datetime           object
completed_duration_days     float64
completed_duration_hours    float64
agent_name                   object
agent_code                   object
branch_name                  object
branch_code                   int64
sign_category                object
sign_action                  object
board_type                  float64
sign_type                    object
portal_addr1_x               object
portal_addr2                 object
portal_addr3                 object
town                         object
postcode                     object
latitude                    float64
longitude                   float64
quantity                      int64
additional_info              object
request_status               object
payment_status               object
net_charge                  float64
vat                         float64
gross_charge                float64
invoice_datetime             object
paid_datetime                object
payment_duration_days       float64
harvesine_distance_miles    float64
latitude_group              float64
longitude_group             float64
zone                          int64
zone_area                    object
is_up                         int64
month_no                      int64
month                        object
year                          int64
work_category                object
lead_time                    object
request_date                 object
completed_date               object
invoice_date                 object
paid_date                    object
requests_per_day              int64
completed_per_day             int64
cycle_count                   int64
cycle_category               object
sale_price                    int64
transfer_date                object
property_type                object
new_property                 object
ppd_addr1                    object
ppd_addr2                    object
road_name                    object
locality                     object
town_city                    object
district                     object
county                       object
dtype: object

In [89]:
df_part2 = df_part2.drop(columns=['addr_split1','addr_split2','addr_split3','addr_split4','addr_split5','addr_split6'])
df_part2 = df_part2.drop(columns=['house1','portal_addr1_y'])
df_part2.dtypes

request_id                    int64
request_datetime             object
completed_datetime           object
completed_duration_days     float64
completed_duration_hours    float64
agent_name                   object
agent_code                   object
branch_name                  object
branch_code                   int64
sign_category                object
sign_action                  object
board_type                  float64
sign_type                    object
portal_addr1_x               object
portal_addr2                 object
portal_addr3                 object
town                         object
postcode                     object
latitude                    float64
longitude                   float64
quantity                      int64
additional_info              object
request_status               object
payment_status               object
net_charge                  float64
vat                         float64
gross_charge                float64
invoice_datetime             object
paid_datetime                object
payment_duration_days       float64
harvesine_distance_miles    float64
latitude_group              float64
longitude_group             float64
zone                          int64
zone_area                    object
is_up                         int64
month_no                      int64
month                        object
year                          int64
work_category                object
lead_time                    object
request_date                 object
completed_date               object
invoice_date                 object
paid_date                    object
requests_per_day              int64
completed_per_day             int64
cycle_count                   int64
cycle_category               object
sale_price                    int64
transfer_date                object
property_type                object
new_property                 object
ppd_addr1                    object
ppd_addr2                    object
road_name                    object
locality                     object
town_city                    object
district                     object
county                       object
dtype: object

### recopy to clipboard for final review

In [90]:
column_add1 = df_add1.dtypes
column_add1.to_clipboard()

In [94]:
column_part1 = df_part1.dtypes
column_part1.to_clipboard()

In [95]:
column_part2 = df_part2.dtypes
column_part2.to_clipboard()

### rename column portal_addr1_x to portal_addr in df_part1 & df_part2

In [97]:
df_part1 = df_part1.rename(columns={'portal_addr1_x':'portal_addr1'})
df_part1.columns

Index(['request_id', 'request_datetime', 'completed_datetime',
       'completed_duration_days', 'completed_duration_hours', 'agent_name',
       'agent_code', 'branch_name', 'branch_code', 'sign_category',
       'sign_action', 'board_type', 'sign_type', 'portal_addr1',
       'portal_addr2', 'portal_addr3', 'town', 'postcode', 'latitude',
       'longitude', 'quantity', 'additional_info', 'request_status',
       'payment_status', 'net_charge', 'vat', 'gross_charge',
       'invoice_datetime', 'paid_datetime', 'payment_duration_days',
       'harvesine_distance_miles', 'latitude_group', 'longitude_group', 'zone',
       'zone_area', 'is_up', 'month_no', 'month', 'year', 'work_category',
       'lead_time', 'request_date', 'completed_date', 'invoice_date',
       'paid_date', 'requests_per_day', 'completed_per_day', 'cycle_count',
       'cycle_category', 'sale_price', 'transfer_date', 'property_type',
       'new_property', 'ppd_addr1', 'ppd_addr2', 'road_name', 'locality',
       'town_city', 'district', 'county'],
      dtype='object')

In [98]:
df_part2 = df_part2.rename(columns={'portal_addr1_x':'portal_addr1'})
df_part2.columns

Index(['request_id', 'request_datetime', 'completed_datetime',
       'completed_duration_days', 'completed_duration_hours', 'agent_name',
       'agent_code', 'branch_name', 'branch_code', 'sign_category',
       'sign_action', 'board_type', 'sign_type', 'portal_addr1',
       'portal_addr2', 'portal_addr3', 'town', 'postcode', 'latitude',
       'longitude', 'quantity', 'additional_info', 'request_status',
       'payment_status', 'net_charge', 'vat', 'gross_charge',
       'invoice_datetime', 'paid_datetime', 'payment_duration_days',
       'harvesine_distance_miles', 'latitude_group', 'longitude_group', 'zone',
       'zone_area', 'is_up', 'month_no', 'month', 'year', 'work_category',
       'lead_time', 'request_date', 'completed_date', 'invoice_date',
       'paid_date', 'requests_per_day', 'completed_per_day', 'cycle_count',
       'cycle_category', 'sale_price', 'transfer_date', 'property_type',
       'new_property', 'ppd_addr1', 'ppd_addr2', 'road_name', 'locality',
       'town_city', 'district', 'county'],
      dtype='object')

## Now ready to join all three subsets df_add1, df_part1 & df_part2

In [99]:
df_sales_ppd = df_add1.append([df_part1, df_part2])
df_sales_ppd.shape

(9312, 60)

#### Based on the work involved this is a releavtively good result, 54% of the Portal data containing sales and completed cycles has been retained.

## export for review

In [101]:
df_sales_ppd.to_csv(os.path.join(dataset,'stone_signs_portal_v6.1_sold_price - 9,312.csv'), index=False)